<div class="">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              [routerLink]="['/admin']"
              routerLinkActive="active-my"
              class="nav-link active"
              aria-current="page"
              >Admin</a
            >
          </li>
          <li class="nav-item">
            <a
              [routerLink]="['/blog']"
              routerLinkActive="active-my"
              class="nav-link active"
              aria-current="page"
              >Blogs</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
