.cnopca {
  width: 20%;
  height: 100vh;
}
.contefle {
  display: flex;
  flex-wrap: wrap;
}
.f123 {
  width: 75%;
}
.blogs-show {
  //   border: 1px solid silver;
  border-radius: 7px;
  background-color: silver;
}
